.grid_paper{
  background-color: #faf0e6!important;
  tbody{
    background-color: #ffffff!important;
    
    tr{
      td{
        input{
          width: 13px;
          height: 13px;
          max-width: 13px;
          min-width: 13px;
          border: 1px solid #ddd;
          border-radius: 3px;
        
        }
        input[type=checkbox]{
          // background: red;
        } 
        input[type=checkbox]:checked{
          background:#0d6efd;
          border: 1px solid #0d6efd;
          position: relative;
          &::after{
            content: '✓';
            color: #ffffff;
            position: absolute;
            font-size: 13px;
            top: -4px;
            left: 1px;
          }
        } 
      }
    }
  }
  tr{
    margin-top: 10px;
    margin-bottom: 10px;
  }
 
  .status_paid{
    background-color: lightgreen!important;
    width:auto!important;
    height: 30px!important;
    font-size: 15px!important;
    color: green!important;
  }
  
  .status_unpaid{
    background-color: lightsalmon!important;
    width:auto!important;
    height: 30px!important;
    font-size: 15px!important;
    color: orange;
  }
  .status_chargeback{
    background-color: lightcoral!important;
    width:auto!important;
    height: 30px!important;
    font-size: 15px!important;
    color: red!important;
  }
 
}


.nav-link{
  color: black!important;
}