#header {
    position: absolute;
    width: 220px;
    font-family: 'sf_pro_textlight';
  }
  #header .pro-sidebar {
    height: 100vh;
  }
  #header .closemenu {
    color: #000;
    position: absolute;
    right: 25px;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 7px;
    cursor: pointer;
  }
  #header .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }
  #header .pro-sidebar.collapsed {
    width: 120px;
    min-width: 120px;
  }
  #header .pro-sidebar-inner {
    background-color: #faf0e6;

  }
  #header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
    margin-top: 20px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #faf0e6;
    color: #000;
    border-radius: 3px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .active {
    background-color: #faf0e6;
  }
  
  .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper .pro-icon {
   opacity: 0;
  }

  
  .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover .pro-icon{
  opacity: 1;
  transition: all .2s ease-in-out;
  }

  .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover .pro-item-content{
    margin-left: 10px;
    transition: all .2s ease-in-out;
    }


    #header .pro-sidebar.collapsed .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper .pro-icon  {
      opacity: 1;
    }

    #header .pro-sidebar.collapsed .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item .pro-item-content{
opacity: 0;
      }
      #header .pro-sidebar.collapsed .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover .pro-item-content{
        opacity: 1;
              }   
              
              
              #header .pro-sidebar.collapsed .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item .pro-item-content:hover {
                opacity: 1;
            }
            
     

              #header .pro-sidebar.collapsed .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
width: auto;
min-width: auto;
margin-left: 0px;

              }



              #header .pro-sidebar.collapsed .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover .pro-item-content {
                margin-left: 0px;
            }

            #header .pro-sidebar.collapsed .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover .pro-item-content {
           font-size: 11px;
          }


            


  #header .logo {
    padding: 20px;
  }

  .pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
      background-color: #faf0e6!important;
  }

  
  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }
