*{
  box-sizing: border-box;
  letter-spacing: 0;
}
body,html{
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'sf_pro_textlight';
  font-weight: 400;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
select,
option,
textarea,   
input{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
button{
  cursor: pointer;
}

// SF Pro Text Font
@font-face {
  font-family: 'sf_pro_textlight';
  src: url('../../../assets/fonts/sfprotext/sfprotext-light-webfont.eot');
  src: url('../../../assets/fonts/sfprotext/sfprotext-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../../assets/fonts/sfprotext/sfprotext-light-webfont.woff2') format('woff2'),
       url('../../../assets/fonts/sfprotext/sfprotext-light-webfont.woff') format('woff'),
       url('../../../assets/fonts/sfprotext/sfprotext-light-webfont.ttf') format('truetype'),
       url('../../../assets/fonts/sfprotext/sfprotext-light-webfont.svg#sf_pro_textlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf_pro_textregular';
  src: url('../../../assets/fonts/sfprotext/sfprotext-regular-webfont.eot');
  src: url('../../../assets/fonts/sfprotext/sfprotext-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../../assets/fonts/sfprotext/sfprotext-regular-webfont.woff2') format('woff2'),
       url('../../../assets/fonts/sfprotext/sfprotext-regular-webfont.woff') format('woff'),
       url('../../../assets/fonts/sfprotext/sfprotext-regular-webfont.ttf') format('truetype'),
       url('../../../assets/fonts/sfprotext/sfprotext-regular-webfont.svg#sf_pro_textregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf_pro_textmedium';
  src: url('../../../assets/fonts/sfprotext/sfprotext-medium-webfont.eot');
  src: url('../../../assets/fonts/sfprotext/sfprotext-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../../assets/fonts/sfprotext/sfprotext-medium-webfont.woff2') format('woff2'),
       url('../../../assets/fonts/sfprotext/sfprotext-medium-webfont.woff') format('woff'),
       url('../../../assets/fonts/sfprotext/sfprotext-medium-webfont.ttf') format('truetype'),
       url('../../../assets/fonts/sfprotext/sfprotext-medium-webfont.svg#sf_pro_textmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf_pro_textsemibold';
  src: url('../../../assets/fonts/sfprotext/sfprotext-semibold-webfont.eot');
  src: url('../../../assets/fonts/sfprotext/sfprotext-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../../assets/fonts/sfprotext/sfprotext-semibold-webfont.woff2') format('woff2'),
       url('../../../assets/fonts/sfprotext/sfprotext-semibold-webfont.woff') format('woff'),
       url('../../../assets/fonts/sfprotext/sfprotext-semibold-webfont.ttf') format('truetype'),
       url('../../../assets/fonts/sfprotext/sfprotext-semibold-webfont.svg#sf_pro_textsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf_pro_textbold';
  src: url('../../../assets/fonts/sfprotext/sfprotext-bold-webfont.eot');
  src: url('../../../assets/fonts/sfprotext/sfprotext-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../../assets/fonts/sfprotext/sfprotext-bold-webfont.woff2') format('woff2'),
       url('../../../assets/fonts/sfprotext/sfprotext-bold-webfont.woff') format('woff'),
       url('../../../assets/fonts/sfprotext/sfprotext-bold-webfont.ttf') format('truetype'),
       url('../../../assets/fonts/sfprotext/sfprotext-bold-webfont.svg#sf_pro_textbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf_pro_textheavy';
  src: url('../../../assets/fonts/sfprotext/sfprotext-heavy-webfont.eot');
  src: url('../../../assets/fonts/sfprotext/sfprotext-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../../assets/fonts/sfprotext/sfprotext-heavy-webfont.woff2') format('woff2'),
       url('../../../assets/fonts/sfprotext/sfprotext-heavy-webfont.woff') format('woff'),
       url('../../../assets/fonts/sfprotext/sfprotext-heavy-webfont.ttf') format('truetype'),
       url('../../../assets/fonts/sfprotext/sfprotext-heavy-webfont.svg#sf_pro_textheavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
:root {
  /* Color */
  --primary-color:                               #cb7e33;
  --secondary-color:                             #faf0e6;
  --black-color:                                 #000000;
  --white-color:                                 #ffffff;
  --grey-color:                                  #434343;


  // font-family
  --sf-pro-light:                                'sf_pro_textlight';
  --sf-pro-regular:                              'sf_pro_textregular';
  --sf-pro-medium:                               'sf_pro_textmedium';
  --sf-pro-semiBold:                             'sf_pro_textsemibold';
  --sf-pro-bold:                                 'sf_pro_textbold';
  --sf-pro-heavy:                                'sf_pro_textheavy';

}