

body{
  background-color: #faf0e6!important;
}

.grid_paper{
  background-color: #faf0e6!important;
  tbody{
    background-color: #ffffff!important;
  }
  tr{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
